{# templates/form/row/checkbox.html.twig #}
{% extends 'form_div_layout.html.twig' %}

{% block checkbox_row %}
    <div class="mt-1">
        {% block checkbox_form_label %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}

            {% if required %}
                {% set label_attr = label_attr|merge({
                    'class': (label_attr.class|default('') ~ ' required')|trim
                }) %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            <label
            {% for attrname, attrvalue in label_attr -%}
                {{ attrname }}="{{ attrvalue }}"
            {%- endfor %}
            >
            {{ label|trans({}, translation_domain) }}<br>
            <div class="switch mt-2">
                {{ form_widget(form) }}
                <span class="slider round"></span>
            </div>
            </label>
        {% endblock %}
    </div>
    {{ form_errors(form) }}
{% endblock %}