{% extends 'welcome.html.twig' %}

{% block body %}
    <h1 class="text-center">Hi!</h1>
    <div class="form">

        {% if app.user %}
            <p><a href="{{ path('dashboard_home') }}">Administrer mon site</a></p>
            <p><a href="{{ path('logout') }}">Logout</a></p>
        {% else %}
            <a href="{{ loginUrl }}" class="login-form">Log in with Facebook</a>
        {% endif %}

    </div>
{% endblock %}