$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~bootstrap/scss/bootstrap';


/*!

 =========================================================
 * Light Bootstrap Dashboard - v2.0.1 (Bootstrap 4)
 =========================================================

 * Product Page: http://www.creative-tim.com/product/light-bootstrap-dashboard
 * Copyright 2017 Creative Tim (http://www.creative-tim.com)
 * Licensed under MIT (https://github.com/creativetimofficial/light-bootstrap-dashboard/blob/master/LICENSE.md)

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

@import "lib/lbd/variables";
@import "lib/lbd/mixins";

@import "lib/lbd/typography";

// Core CSS
@import "lib/lbd/misc";
@import "lib/lbd/sidebar-and-main-panel";
@import "lib/lbd/buttons";
@import "lib/lbd/inputs";

@import "lib/lbd/alerts";
@import "lib/lbd/tables";

@import "lib/lbd/checkbox-radio-switch";
@import "lib/lbd/navbars";
@import "lib/lbd/footers";

// Fancy Stuff
@import "lib/lbd/plugins/animate";
@import "lib/lbd/dropdown";
@import "lib/lbd/cards";
@import "lib/lbd/chartist";
@import "lib/lbd/responsive";
@import "lib/lbd/bootstrap-switch";

// Nucleo Icons
@import "lib/lbd/partial-nucleo-icons";

// Nucleo Icons
@import "lib/lbd/partial-nucleo-icons";

/**
CUSTOM
*/

.card-image-seo {
  @extend .card-image;
  height: 200px!important;
}

.form-control-no-height {
  @extend .form-control;
  height: auto;
}

.btn-info.btn-fill {
  background-color: #5768CF;
  border-color: #5768CF;
}

.color-info {
  color: #5768CF;
}

/**
FORM SWITCH
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74c3c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}