{% extends 'frontend.html.twig' %}

{% block body %}
    <section id="banner">
        <div class="inner">
            <h1>{{ portfolio.title }}</h1>
            <p>{{ portfolio.description }}</p>
            <ul class="actions">
                <li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
            </ul>
        </div>
    </section>

    <section id="galleries">
        <div class="gallery">
            <header class="special">
                <h2>{{ portfolio.owner.fullname }}</h2>
            </header>
            <div class="content">
                <!-- Manage album list here -->
                {% for album in portfolio.owner.albums %}
                    {{ album.name }}
                {% endfor %}
            </div>
            <footer>
                <a href="gallery.html" class="button big">Full Gallery</a>
            </footer>
        </div>
    </section>
{% endblock %}