{% if app.user %}
    <div class="user-toolbar">
        <p>Bonjour {{ app.user.firstname }} !</p>
        <a href="{{ path('dashboard_settings') }}">Configurer mon site</a>
        <a href="{{ path('logout') }}">Déconnexion</a>
    </div>
{% endif %}