<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fb Portfolio{% endblock %}</title>
        <link href="{{ asset('build/css/dashboard.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/sidebar-5.jpg" data-color="blue">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{{ path('dashboard_home') }}" class="simple-text">
                        FB PORTFOLIO
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'dashboard_home' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_home') }}">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'dashboard_style' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_style') }}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Style</p>
                        </a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'dashboard_albums' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_albums') }}">
                            <i class="nc-icon nc-notes"></i>
                            <p>Albums</p>
                        </a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'dashboard_seo' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_seo') }}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>SEO</p>
                        </a>
                    </li>
                    <li class="nav-item {% if app.request.attributes.get('_route') == 'dashboard_settings' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_settings') }}">
                            <i class="nc-icon nc-atom"></i>
                            <p>Paramètres</p>
                        </a>
                    </li>
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="{{ path('user_portfolio', {urlKey: app.user.portfolio.urlKey}) }}">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Voir mon site</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#pablo"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                    <span class="notification">5</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Notification 1</a>
                                    <a class="dropdown-item" href="#">Notification 2</a>
                                    <a class="dropdown-item" href="#">Notification 3</a>
                                    <a class="dropdown-item" href="#">Notification 4</a>
                                    <a class="dropdown-item" href="#">Another notification</a>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <span class="no-icon">Mon Compte</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="no-icon">Dropdown</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">
                                    <span class="no-icon">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            2018
                            <span class="color-info">Louis Bertin</span>, <span class="color-info">Yoann Vié</span>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    </body>
</html>
