<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ configurations.seo_title.value }}{% endblock %}</title>
        <meta name="description" content="{{ configurations.seo_description.value }}">
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        <link href="{{ asset('build/css/frontend/' ~ portfolio.theme.code ~ '.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        {{ configurations.google_analytics.value | raw }}
    </head>
    <body>
    {% block toolbar %}
        {% include 'frontend/toolbar.html.twig' %}
    {% endblock %}

    <div class="page-wrap">
        <section id="main">
            {% block body %}
            {% endblock %}
            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Louis Bertin | Yoann Vié - Facebook dynamical Portfolio</a>.
                </div>
            </footer>
        </section>
    </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
