<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fb Project{% endblock %}</title>
    <link href="{{ asset('build/css/welcome.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="login-page">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('build/js/app.js') }}"></script>
</body>
</html>
