{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Options SEO</h4>
                </div>
                <div class="card-body">
                    {{ form_start(seoForm) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(seoForm.seo_title) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Votré clé d'URL (non modifiable)</label>
                                    <input type="text" class="form-control" disabled="" placeholder="Url key" value="{{ app.user.portfolio.urlKey }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_row(seoForm.seo_description) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_row(seoForm.google_analytics) }}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    {{ form_end(seoForm) }}
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-image-seo">
                    <img src="https://source.unsplash.com/random">
                </div>
                <div class="card-body">
                    <p class="description text-center p-4">
                        Optimisez votre site pour apparaître dans les premiers résultats de Google
                    </p>
                </div>
                <hr>
                <div class="button-container mr-auto ml-auto">
                    <button href="#" class="btn btn-simple btn-link btn-icon">
                        <i class="fa fa-facebook-square"></i>
                    </button>
                    <button href="#" class="btn btn-simple btn-link btn-icon">
                        <i class="fa fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-simple btn-link btn-icon">
                        <i class="fa fa-google-plus-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}