{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Configuration du Portfolio</h4>
                </div>
                <div class="card-body">
                    {{ form_start(portfolioForm) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(portfolioForm.title) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Votre nom d'utilisateur (non modifiable)</label>
                                <input type="text" class="form-control" disabled="" placeholder="Url key" value="{{ app.user.username }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(portfolioForm.subtitle) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(portfolioForm.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            {{ form_row(portfolioForm.is_contact_enable) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_row(portfolioForm.contact_email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(portfolioForm.contact_title) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(portfolioForm.contact_description) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    {{ form_end(portfolioForm) }}
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-image-seo">
                    <img src="https://source.unsplash.com/random">
                </div>
                <div class="card-body">
                    <p class="description text-center p-4">
                        Configurez les contenus de votre portfolio en toute simplicité et gérez vos informations de contact
                    </p>
                </div>
                <hr>
                <div class="button-container mr-auto ml-auto">
                    <button href="#" class="btn btn-simple btn-link btn-icon">
                        <i class="fa fa-facebook-square"></i>
                    </button>
                    <button href="#" class="btn btn-simple btn-link btn-icon">
                        <i class="fa fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-simple btn-link btn-icon">
                        <i class="fa fa-google-plus-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}