{% extends 'frontend.html.twig' %}

{% block body %}
    <section id="banner">
        <div class="inner">
            <h1>{{ portfolio.title }}</h1>
            <h3>{{ portfolio.subtitle }}</h3>
        </div>
    </section>

    <section id="description">
        <p class="align-center">{{ portfolio.description }}</p>
    </section>

    <section id="galleries">
        <div class="gallery">
            <header class="special">
                <h2>{{ portfolio.owner.fullname }}</h2>
            </header>
            <div class="content">
                <!-- Manage album list here -->
                {% for album in portfolio.owner.albums %}
                    {{ album.name }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
